version: "3.9"

services:
  mysql:
    image: mysql:9.2
    container_name: bottom-cv-mysql
    restart: always
    ports:
      - "3307:3306"
    environment:
      MYSQL_DATABASE: bottom_cv
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 5s
      timeout: 10s
      retries: 10
    networks:
      - bottom-cv-network

  redis:
    image: redis
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli ping | grep PONG" ]
      interval: 5s
      timeout: 10s
      retries: 10
    networks:
      - bottom-cv-network

  minio:
    image: minio/minio:latest
    container_name: bottom-cv-minio
    restart: always
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    healthcheck:
      test:
        [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 30s
      timeout: 20s
      retries: 3
    networks:
      - bottom-cv-network

  bottom-cv:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bottom-cv
    restart: always
    ports:
      - "8088:8088"
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
      minio:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/bottom_cv
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      SERVER_PORT: 8088
      MINIO_ENDPOINT: http://minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      MINIO_BUCKET_NAME: bottom-cv-storage
    networks:
      - bottom-cv-network

volumes:
  mysql_data:
  minio_data:

networks:
  bottom-cv-network:
    driver: bridge
