version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: bottom-cv-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: bottom_cv
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 10s
      retries: 10
    networks:
      - bottom-cv-network

  redis:
    image: redis
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli ping | grep PONG" ]
      interval: 5s
      timeout: 10s
      retries: 10
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    networks:
      - bottom-cv-network

  minio:
    image: minio/minio:latest
    container_name: bottom-cv-minio
    restart: always
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 30s
      timeout: 20s
      retries: 3
    networks:
      - bottom-cv-network

  bottom-cv-fe:
    build:
      context: ../bottom-cv-fe
      dockerfile: Dockerfile
    container_name: bottom-cv-fe
    restart: always
    ports:
      - "3000:3000"
    networks:
      - bottom-cv-network

  bottom-cv:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bottom-cv
    restart: always
    ports:
      - "8088:8088"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      minio:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/bottom_cv
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SERVER_PORT: 8088
      MINIO_ENDPOINT: http://minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      MINIO_BUCKET_NAME: bottom-cv-storage
      SPRING_DATA_REDIS_HOST: redis
      GMAIL_USERNAME: ${GMAIL_USERNAME}
      GMAIL_PASSWORD: ${GMAIL_PASSWORD}
    networks:
      - bottom-cv-network

volumes:
  postgres_data:
  minio_data:
  redis_data:


networks:
  bottom-cv-network:
    driver: bridge
