server:
  port: 8088

spring:
  application:
    name: bottom-cv

  datasource:
    url: jdbc:mysql://localhost:3307/bottom_cv?createDatabaseIfNotExist=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    enabled: true
    drop-first: false
    contexts: development,production
    default-schema: bottom_cv
    liquibase-schema: bottom_cv

  data:
    redis:
      host: localhost
      port: 6379
      password: 123456
      timeout: 6000

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  security:
    jwt:
      secret-key: L6OovFfxRA/YmnfxL44ou2umFmoFe1fDMK/TlEyllNoGOViiY2MelWE53EObFtfA+mg37xjJJw0m1ePB/o1maA==
      expirationMs: 259200000 # 3 days (3 * 24 * 60 * 60 * 1000)
      refreshExpirationMs: 604800000 # 7 days

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GMAIL_USERNAME}
    password: ${GMAIL_PASSWORD}
    default-encoding: UTF-8
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            trust: smtp.gmail.com
            protocols: TLSv1.2 TLSv1.3
          timeout: 5000
    protocol: smtp

#  rabbitmq:
#    host: localhost
#    port: 5672
#    username: guest
#    password: guest
#    virtual-host: /

minio:
  endpoint: http://localhost:9000
  access-key: minioadmin
  secret-key: minioadmin
  bucket-name: bottom-cv-storage
  secure: false

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  packages-to-scan:
    - com.cnpm.bottomcv

info:
  app:
    name: "bottom-cv"
    description: "Bottom cv, the application to find job for everyone"
    version: "1.0.0"

bottom-cv:
  domain: "http://localhost:8088"
  client: "http://localhost:3000"
  message: "From bottom application, we hope you can find the best job for you"
  contactInfo:
    name: "Nguyen Quoc Viet"
    email: "vietnq.23ceb@vku.udn.vn"
  onCallSupport:
    - (+84)123456789
    - (+84)123456789
  brand:
    name: "BottomCV"
    logo-url: "https://i.postimg.cc/4xcnS1yG/bottomcv.png"
    support-email: "support@bottomcv.com"
  mail:
    from: "noreply@bottomcv.com"
    from-name: "BottomCV"
    reply-to: "noreply@bottomcv.com"

logging:
  level:
    com.cnpm.bottomcv: DEBUG
    org.springframework.security: DEBUG
